@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 1rem = 16px */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
}

main {
    padding: 2rem 3%;
}

/* ============= HEADER ============== */

header {
    display: flex;
    justify-content: space-around;
    /* center,space-around */
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background-color: #fff;

    /* when header sticky */
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo__image {
    width: 80px;
    height: 80px;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* cover,fill */
}

.menu__list,
.icon__list {
    display: flex;
    gap: 1rem;
}

.menu__link {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #000;
    background: #f0f0f0;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.menu__link:hover,
.menu__link.active {
    background: #ed1b26;
    color: #fff;

}

.icon__item {
    background-color: #f0f0f0;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.icon__link {
    color: #000;
    font-size: 1.2rem;
    transition: 0.3s;
}

.icon__item:hover {
    background-color: #ed1b26;
    transform: rotate(360deg);
}

.icon__item:hover .icon__link {
    color: #fff;
}


/* ============= FOOTER ============== */

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1rem 2rem;
}

.footer__title {
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__link {
    color: #000;
    font-size: 1rem;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer__link:hover {
    color: #ed1b26;
    padding-left: 0.5rem;
    letter-spacing: 1px;
}

.social__list {
    display: flex;
    gap: 1rem;
}

.social__link {
    color: #000;
    font-size: 1.5rem;
}

.social__link.facebook {
    color: blue;
}

.social__link.instagram {
    color: orange;
}

.social__link.youtube {
    color: red;
}

.social__link.twitter {
    color: skyblue;
}

.page__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.form__container {
    border: 1px solid #000;
    max-width: 600px;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}

.form__container.login {
    max-width: 400px;
}

.form__container.register {
    max-width: 800px;
}

.form__input {
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #f0f0f0;
}

.form__input::placeholder {
    color: #ed1b26;
    font-style: italic;
}

.form__input:focus {
    border-color: #ed1b26;
}

.form__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form__group.three {
    grid-template-columns: repeat(3, 1fr);
}

.form__input.textarea {
    height: 150px;
    resize: none;
}

.btn {
    background-color: #ed1b26;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    border: 2px solid #ed1b26;
}

.btn:hover {
    background-color: transparent;
    color: #ed1b26;
    cursor:pointer;
}
#shop{
    text-align: center;
    margin-bottom: 2rem;
    padding: auto;
}
/* #shop:hover{ */
    /* background-color: transparent; */
    /* color: #0f0f0f; */
    /* padding: 1rem 2rem; */
    /* font: size 1.2rem; */
/* } */
.heartbeat{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}
.product__card{
    border:1px solid #ed1b26;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding:2rem;
}

.product__image{
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    overflow:hidden;
    margin-bottom:1rem;
}
.product__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
}
.product__img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.product__data{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin-bottom: 1rem;
    position: relative;
}
.product__title{
    font-size: 1.5rem;
    color: #000;
}
.product__price{
    font-size: 1.2rem;
    color:#ed1b26;
}
.product__description{
    font-size: 1.2rem;
    color: #ed1b26;
    line-height: 1.8;
    
    /*  line cut */
    display: -webkit-box;
    Line-clamp: 2;
    -webkit-line-clamp:3;
    -webkit-box-orient :vertical;
    overflow:hidden;

}
.wishlist{
    position: absolute;
    top:0;
    right:10px;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 3.5rem;
    cursor:pointer;
    border:1px solid #ed1b26;
    font-size: 1.2rem;
    transform: 0.3s;
}
.wishlist:hover{
    background-color: #ed1b26;
    color: #f0f0f0;
}
/* takhu por ta khu phone tr ko z-index nat ph  */
/* z-index=unlimited */
/* About page */
.about__container{
    display: grid;
    grid-template-columns: 100%;
    gap:2rem;
    /* margin-bottom: 10rem; */
}
.about__box{
    display: flex;
    gap:1rem;
}
.about__box:nth-child(even){
    flex-direction: row-reverse;
}

.about__image{
    width: 50%;
    height: 100%;

}
.about__data{
    width: 50%;
}
.about__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__img{
    width: 35%;
    height: 100%;
}
.slide__data{
    width: 50%;

}
.slider__container{
    display: cover;
}
/* ===============animation key frame========================== */
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-7-26 16:49:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* jquerry so tr thi java script nat yay lot ma ya yin thone */
/* skin ywy yin sone twr yin pyan kan tat effect thi jquerry */
/* loop:ture {1to5,5to1} */
/* swiper thone yan chate  */
/* css <head> </head> */
/* js above</body> */
/* initialize */